//### Primary
$red: hsl(0, 100%, 68%);

//### Neutral
$veryDarkBlue: hsl(230, 29%, 20%);
$darkGrayishBlue: hsl(230, 11%, 40%);
$grayishBlue: hsl(231, 7%, 65%);
$lightGrayishBlue: hsl(207, 33%, 95%);
$white: #fff;
$font-BarlowCondensed: "Barlow Condensed", sans-serif;
$font-Barlow: "Barlow", sans-serif;
$font-700: 700;
$font-400: 400;
